// Mixins in here
.buttons(@width, @padding, @font-size, @color, @background, @text-align, @rad) {
	background-color: @background;
	color: @color;
	width: @width;
	padding: @padding;
	font-size: @font-size;
	text-align: @text-align;
	border-radius: @rad;
}
