nav {
	width: 100%;
	padding: 20px 100px;
	border-bottom: 2px dashed lightgray;
	ul {
		display: flex;
		width: inherit;
		justify-content: flex-end;
		position: relative;
		li {
			padding: 20px;
			a {
				text-decoration: none;
				color: @font-color;
				font-size: 1.5rem;
			}
			&:first-child {
				position: absolute;
				font-family: @fun-font;
				font-weight: 700;
				left: 0;
				padding-left: 0;
			}
		}
	}
}
