nav {
	display: flex;
	width: 100%;
	padding: 20px 100px;
	border-bottom: 2px dashed lightgray;
	.left-nav {
		margin-top: 10px;
		a {
			text-decoration: none;
			color: @font-color;
			font-size: 1.5rem;
		}
	}
	ul {
		display: flex;
		width: 80%;
		justify-content: flex-end;
		position: relative;
		li {
			padding: 20px;
			a {
				text-decoration: none;
				color: @font-color;
				font-size: 1.5rem;
			}
		}
	}
}
